.input-area {
    display: flex;
    align-items: center;

    #search {
        border-radius: 5px;
        padding: 5px;
    }

    button {
        margin-left: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
    }
}